In [1]:
import pandas as pd

In [2]:
player_totals = pd.read_csv('Data/Player Totals.csv')
award_shares = pd.read_csv('Data/Player Award Shares.csv')

In [3]:
player_totals

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,0.895,9.0,55.0,64.0,30,9.0,4.0,12.0,49,252
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,0.652,14.0,36.0,50.0,20,10.0,3.0,14.0,22,136
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,1.000,2.0,16.0,18.0,5,1.0,2.0,8.0,6,48
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.658,174.0,297.0,471.0,259,56.0,45.0,105.0,142,1013
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.921,23.0,100.0,123.0,140,42.0,6.0,53.0,125,514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,6,NaN,NaN,NaN,16,23
31866,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,16,NaN,NaN,NaN,59,85
31867,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,37,NaN,NaN,NaN,114,253
31868,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,1,NaN,NaN,NaN,25,61
31869,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,47,NaN,NaN,NaN,105,350

In [4]:
award_shares

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
0,2024,clutch_poy,Stephen Curry,35,GSW,45.0,298.0,495.0,0.602,True,31786,3903
1,2024,clutch_poy,DeMar DeRozan,34,CHI,34.0,272.0,495.0,0.549,False,31296,3872
2,2024,clutch_poy,Shai Gilgeous-Alexander,25,OKC,11.0,160.0,495.0,0.323,False,31769,4670
3,2024,clutch_poy,Nikola Jokić,28,DEN,4.0,85.0,495.0,0.172,False,31672,4352
4,2024,clutch_poy,Jalen Brunson,27,NYK,2.0,26.0,495.0,0.053,False,31429,4630
...,...,...,...,...,...,...,...,...,...,...,...,...
3371,1956,nba mvp,Mel Hutchins,27,FTW,9.0,9.0,80.0,0.113,False,1732,466
3372,1956,nba mvp,Dolph Schayes,27,SYR,2.0,2.0,80.0,0.025,False,1687,328
3373,1956,nba mvp,Bill Sharman,29,BOS,2.0,2.0,80.0,0.025,False,1652,419
3374,1956,nba mvp,Tom Gola,23,PHW,1.0,1.0,80.0,0.013,False,1748,607
3375,1956,nba mvp,Maurice Stokes,22,ROC,1.0,1.0,80.0,0.013,False,1729,602

In [5]:
award_shares = award_shares.pivot_table(index=['seas_id', 'player_id'], columns='award', values='share', aggfunc='sum', fill_value=0)

In [6]:
complete = player_totals.merge(award_shares, on=['player_id', 'seas_id'], how='outer', suffixes=('', '_drop'))

In [7]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,49,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,22,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,6,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,142,1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,125,514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,16,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,59,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,114,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,25,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,105,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# drop all columns that have the suffix '_drop'
complete = complete[[col for col in complete.columns if not col.endswith('_drop')]]

In [9]:
complete.columns

Index(['seas_id', 'season', 'player_id', 'player', 'birth_year', 'pos', 'age',
       'experience', 'lg', 'tm', 'g', 'gs', 'mp', 'fg', 'fga', 'fg_percent',
       'x3p', 'x3pa', 'x3p_percent', 'x2p', 'x2pa', 'x2p_percent',
       'e_fg_percent', 'ft', 'fta', 'ft_percent', 'orb', 'drb', 'trb', 'ast',
       'stl', 'blk', 'tov', 'pf', 'pts', 'aba mvp', 'aba roy', 'clutch_poy',
       'dpoy', 'mip', 'nba mvp', 'nba roy', 'smoy'],
      dtype='object')

In [10]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,49,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,22,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,6,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,142,1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,125,514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,16,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,59,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,114,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,25,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,105,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,49,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,22,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,6,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,142,1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,125,514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,16,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31866,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,59,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31867,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,114,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31868,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,25,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31869,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,105,350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#replace all NaN values with 0
complete = complete.fillna(0)

In [13]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,0.0,SG,24.0,2,NBA,MIL,...,49,252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,31137,2024,5026,A.J. Lawson,0.0,SG,23.0,2,NBA,DAL,...,22,136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31138,2024,5027,AJ Griffin,0.0,SF,20.0,2,NBA,ATL,...,6,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31139,2024,4219,Aaron Gordon,0.0,PF,28.0,10,NBA,DEN,...,142,1013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31140,2024,4582,Aaron Holiday,0.0,PG,27.0,6,NBA,HOU,...,125,514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31865,200,1947,157,Walt Miller,0.0,F,31.0,1,BAA,PIT,...,16,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31866,201,1947,158,Warren Fenley,0.0,F,24.0,1,BAA,BOS,...,59,85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31867,202,1947,159,Wilbert Kautz,0.0,G-F,31.0,1,BAA,CHS,...,114,253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31868,203,1947,160,Woody Grimshaw,0.0,G,27.0,1,BAA,PRO,...,25,61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31869,204,1947,161,Wyndol Gray,0.0,G-F,24.0,1,BAA,BOS,...,105,350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#restrict data to 2004 and later
complete = complete[complete['season'] >= 2004]

In [15]:
complete

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,0.0,SG,24.0,2,NBA,MIL,...,49,252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,31137,2024,5026,A.J. Lawson,0.0,SG,23.0,2,NBA,DAL,...,22,136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31138,2024,5027,AJ Griffin,0.0,SF,20.0,2,NBA,ATL,...,6,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31139,2024,4219,Aaron Gordon,0.0,PF,28.0,10,NBA,DEN,...,142,1013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31140,2024,4582,Aaron Holiday,0.0,PG,27.0,6,NBA,HOU,...,125,514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13136,19314,2004,3100,Zydrunas Ilgauskas,0.0,C,28.0,6,NBA,CLE,...,277,1237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13137,19307,2004,3493,Žarko Čabarkapa,0.0,PF,22.0,1,NBA,PHO,...,75,203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13138,19309,2004,3364,Željko Rebrača,0.0,C,31.0,3,NBA,TOT,...,52,91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13139,19310,2004,3364,Željko Rebrača,0.0,C,31.0,3,NBA,DET,...,45,66,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13140,19311,2004,3364,Željko Rebrača,0.0,C,31.0,3,NBA,ATL,...,7,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Dropping Rows Where the same Player's Data, in the same Season, was Included Multiple Times 
# Example: If Player 1 was on Team A and then traded to Team B during the season, dataset contained three records for the same player, 
# during the same season --> (Player 1 Stats for Team A, Player 1 Stats for Team B, AND Player 1 Stats for Whole Season ('tm' = 'TOT')
complete_clean = complete.drop_duplicates(subset=['season', 'player'], keep='first', ignore_index=True)
complete_clean

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pf,pts,aba mvp,aba roy,clutch_poy,dpoy,mip,nba mvp,nba roy,smoy
0,31136,2024,5025,A.J. Green,0.0,SG,24.0,2,NBA,MIL,...,49,252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,31137,2024,5026,A.J. Lawson,0.0,SG,23.0,2,NBA,DAL,...,22,136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31138,2024,5027,AJ Griffin,0.0,SF,20.0,2,NBA,ATL,...,6,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31139,2024,4219,Aaron Gordon,0.0,PF,28.0,10,NBA,DEN,...,142,1013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,31140,2024,4582,Aaron Holiday,0.0,PG,27.0,6,NBA,HOU,...,125,514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10340,19312,2004,3295,Zendon Hamilton,0.0,C,28.0,4,NBA,PHI,...,74,169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10341,19313,2004,3495,Zoran Planinić,0.0,SG,21.0,1,NBA,NJN,...,70,153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10342,19314,2004,3100,Zydrunas Ilgauskas,0.0,C,28.0,6,NBA,CLE,...,277,1237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10343,19307,2004,3493,Žarko Čabarkapa,0.0,PF,22.0,1,NBA,PHO,...,75,203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10344,19309,2004,3364,Željko Rebrača,0.0,C,31.0,3,NBA,TOT,...,52,91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Dropping Award-Shares Variables NOT Being Used in our Project
unused_awards = ['aba mvp', 'aba roy', 'clutch_poy']
complete_clean = complete_clean.drop(unused_awards, axis=1)

In [18]:
# Dropping Numerical Variable NOT Necessary for our Project
unused_num = ['birth_year']
complete_clean = complete_clean.drop(unused_num, axis=1)

In [19]:
# Categorical Variables
non_int_mask = complete_clean.dtypes == object
complete_clean[complete_clean.columns[non_int_mask]]

                   player pos   lg   tm
0              A.J. Green  SG  NBA  MIL
1             A.J. Lawson  SG  NBA  DAL
2              AJ Griffin  SF  NBA  ATL
3            Aaron Gordon  PF  NBA  DEN
4           Aaron Holiday  PG  NBA  HOU
...                   ...  ..  ...  ...
10340     Zendon Hamilton   C  NBA  PHI
10341      Zoran Planinić  SG  NBA  NJN
10342  Zydrunas Ilgauskas   C  NBA  CLE
10343     Žarko Čabarkapa  PF  NBA  PHO
10344      Željko Rebrača   C  NBA  TOT

[10345 rows x 4 columns]

In [20]:
# Dropping League and Team Variables
complete_clean = complete_clean.drop(['lg', 'tm'], axis=1)

In [21]:
# Unique Values in Position Varibale
complete_clean['pos'].value_counts()

pos
SG          2213
PF          2057
C           2037
PG          1944
SF          1874
SF-SG         31
C-PF          30
PG-SG         29
PF-SF         27
SG-PG         27
PF-C          24
SG-SF         24
SF-PF         21
SG-PF          4
SG-PG-SF       1
SF-C           1
PG-SF          1
Name: count, dtype: int64

In [22]:
# Assigning Each Player (Record) to Primary Position
# Example: SG-PG --> SG and PG-SG --> PG
complete_clean['pos'] = complete_clean['pos'].map(lambda x: x[0:x.find('-')] if (x.find('-') > -1) else x)

In [23]:
# Unique Values in Position Varibale AFTER Assigning Each Record to Primary Position
complete_clean['pos'].value_counts()

pos
SG    2269
PF    2108
C     2067
PG    1974
SF    1927
Name: count, dtype: int64

In [24]:
# One-Hot Encoding the Postion Variable
complete_clean = pd.get_dummies(complete_clean, columns=['pos'])

In [25]:
complete_clean.columns

Index(['seas_id', 'season', 'player_id', 'player', 'age', 'experience', 'g',
       'gs', 'mp', 'fg', 'fga', 'fg_percent', 'x3p', 'x3pa', 'x3p_percent',
       'x2p', 'x2pa', 'x2p_percent', 'e_fg_percent', 'ft', 'fta', 'ft_percent',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'dpoy',
       'mip', 'nba mvp', 'nba roy', 'smoy', 'pos_C', 'pos_PF', 'pos_PG',
       'pos_SF', 'pos_SG'],
      dtype='object')

In [26]:
complete_clean

,seas_id,season,player_id,player,age,experience,g,gs,mp,fg,...,dpoy,mip,nba mvp,nba roy,smoy,pos_C,pos_PF,pos_PG,pos_SF,pos_SG
0,31136,2024,5025,A.J. Green,24.0,2,56,0.0,614.0,83,...,0.0,0.0,0.0,0.0,0.0,False,False,False,False,True
1,31137,2024,5026,A.J. Lawson,23.0,2,42,0.0,311.0,54,...,0.0,0.0,0.0,0.0,0.0,False,False,False,False,True
2,31138,2024,5027,AJ Griffin,20.0,2,20,0.0,171.0,18,...,0.0,0.0,0.0,0.0,0.0,False,False,False,True,False
3,31139,2024,4219,Aaron Gordon,28.0,10,73,73.0,2297.0,398,...,0.0,0.0,0.0,0.0,0.0,False,True,False,False,False
4,31140,2024,4582,Aaron Holiday,27.0,6,78,1.0,1269.0,186,...,0.0,0.0,0.0,0.0,0.0,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10340,19312,2004,3295,Zendon Hamilton,28.0,4,46,0.0,473.0,51,...,0.0,0.0,0.0,0.0,0.0,True,False,False,False,False
10341,19313,2004,3495,Zoran Planinić,21.0,1,49,1.0,473.0,53,...,0.0,0.0,0.0,0.0,0.0,False,False,False,False,True
10342,19314,2004,3100,Zydrunas Ilgauskas,28.0,6,81,81.0,2539.0,466,...,0.0,0.0,0.0,0.0,0.0,True,False,False,False,False
10343,19307,2004,3493,Žarko Čabarkapa,22.0,1,49,4.0,570.0,81,...,0.0,0.0,0.0,0.0,0.0,False,True,False,False,False
10344,19309,2004,3364,Željko Rebrača,31.0,3,24,2.0,273.0,34,...,0.0,0.0,0.0,0.0,0.0,True,False,False,False,False

In [27]:
complete_clean.to_csv('base.csv', index=False)